%icon-svg {
    background-repeat: no-repeat;
    padding: 10px 12px;
    background-position: center;
}
.icon-search {
    @extend %icon-svg;
    background-image: url('^assets/images/icons/search.svg');
}